<!doctype html>

<html>
<head>
	<title>Buy Buddy</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	<div class="container">

		{{> backbutton}}
		{{> appname}}

		<h4 style=";font-size:30px;" align="center"><b>History</b></h4>
		
		<!-- <span>Time Range:</span> -->
		<!-- <select class='ui dropdown' id='timeRange'> -->
			<!-- <option value='null'>Time Range</option> -->
			<!-- <option value='day'>Today</option> -->
			<!-- <option value='week'>This Week</option> -->
			<!-- <option value='month'>This Month</option> -->
			<!-- <option value='year'>This Year</option> -->
		<!-- </select> -->
		<!-- <button onclick='filter()'>Filter List</button><br><br> -->

		{{> summary}}
		
		{{#each purchases}}
			<div class="list">
				<h3>{{num}}.{{item}} / ${{cost}} / {{wantNeed}}</a></h3>
				<h4>Date: {{date}}</h4>
				<p>Note:&nbsp{{note}}</p>
				<form action='/History/Delete'>
					<input style="display: none;" class="toBeDel" name="item" value={{num}}></input>
					<div style="text-align:right"><input class="toDelete" type='submit' value="Delete"></div>
				</form>
			</div>
			
			<hr>
			
			<script>
				var num = parseInt({{cost}});
				moneySpent = moneySpent + num;

				if ("{{wantNeed}}" == 'Need') 
					{moneyNeed = moneyNeed + num;}
				else if ("{{wantNeed}}" == 'Want')
					{moneyWant = moneyWant + num;}
			</script>
		{{/each}}
		
		<script>
			document.getElementById("spent").innerHTML = moneySpent;
			document.getElementById("need").innerHTML = moneyNeed;
			document.getElementById("want").innerHTML = moneyWant;
		</script>
		
		<form action='/History/Clear'>
					<input style="display: none;" class="toBeDel"></input>
					<div style="text-align:center"><input onclick="return myFunction()" type='submit' value="Clear History"></div>
		</form>
		
		<script>
			function myFunction() {
			return confirm("Are you sure you want to clear your purchase history?");
			}
		</script>
	</div>
</body>
</html>
