<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		{{> appname}}
		<div align="center"><b>
			<h3>Summary Of Your Purchases:</h3>
			Total Amount Spent: $<span id='spent'></span><br>
			Total Amount Spent on Needs: $<span id='need'></span><br>
			Total Amount Spent on Wants: $<span id='want'></span><br>
		</b></div>
		<script>
			var moneySpent = 0;
			var moneyNeed = 0;
			var moneyWant = 0;
			var index = 0;
		</script>
		
		{{#each purchases}}
			<script>
				var num = parseInt({{cost}});
				moneySpent = moneySpent + num;

				if ("{{wantNeed}}" == 'Need') 
					{moneyNeed = moneyNeed + num;}
				else if ("{{wantNeed}}" == 'Want')
					{moneyWant = moneyWant + num;}
			</script>
		{{/each}}
		
		<script>
			document.getElementById("spent").innerHTML = moneySpent;
			document.getElementById("need").innerHTML = moneyNeed;
			document.getElementById("want").innerHTML = moneyWant;
		</script>

		<h4 style=";font-size:30px;" align="center"><b>Menu</b></h4>
		{{#each projects}}
			<div style=";font-size:30px;" class="project" id="{{id}}">
				<a href="{{name}}" class="thumbnail">
					<p>{{name}}</p>
				</a>
			</div>
		{{/each}}
			<div style=";font-size:30px;" class="project" id="Login">
				<a href="/" class="thumbnail">
					<p>Logout</p>
				</a>
			</div>
			
		<div style=";font-size:30px;" class="project" id="MenuA">
				<a href="/menu" class="thumbnail">
					<p>To Menu Version A</p>
				</a>
		</div>
	</div>
</body>
</html>

