<!doctype html>

<html>
<head>
	<title>Buy Buddy</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">  

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>	
</head>

<body style=";font-size:2vh;">
	<div class="container">	
		{{> appname}}

		<p align="center"><b>Results</b></p>
		<p align="center"> You added:
		{{#each obj}}
			<p align="center">{{item}} / ${{cost}} / {{wantNeed}}</p>
			<p align="center">Date: {{date}}</p>
			<p align="center">Note:&nbsp {{note}}</p>
			<hr>
		{{/each}}
		</p>
		
		<a href="/add%20purchase" class="thumbnail">
			<p align="center"><b>Add Another Purchase</b></p>
		</a>
		<a href="/menu" class="thumbnail">
			<p align="center"><b>Back To Main Menu</b></p>
		</a>
	</div>
</body>
</html>
